<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/css/app.css">
</head>
<body>
  <div class="navbar">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/New">New</a></li>
      <li><a class="highlighted" href="/Quiz">Quiz</a></li>
      <li><a href="/Contact">Contact</a></li>
      <li><a href="/About">About</a></li>
      <li class="acc"><a href="/account">account</a></li>
    </ul>
  </div>
  
  <div class="mainHeading"><h1>Quiz</h1></div>
  
  
  <script src="/javascript/app.js"></script>
</body>
</html>
