<% layout('layouts/boilerplate') %> 

<div class="mainHeading"><h1>Flash Learn</h1></div>

<% let size = 0 %> 
<% for(let card of cards){ size += 1 } %>
<% let rand = Math.floor((Math.random()*1000)%size) %>  

 
<!-- two columns -->
<div class="row">
  <div class="column">

    <div class="scene">
      <div class="card card-one">
        <div class="card__face card__face--front">Q</div>
        <div class="card__face card__face--back"> <%= cards[rand].question %>  </div>
      </div>
    </div>
    
  </div>
  <div class="column">
    <div class="scene">
      <div class="card card-two">
        <div class="card__face card__face--front">A</div>
        <div class="card__face card__face--back"> <%= cards[rand].answer %>  </div>
      </div>
    </div>

  </div>
  <script src="/javascript/app.js"></script>


</div>
